body {
  background-color: #f5f5f5;
}

/* header */

#headerContainer {
  width: 65%;
}

#headerContent {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#title {
  font-weight: 100;
  margin-top: 2rem;
}

/* header above */

/* submit form below */

.input-group {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-control {
  height: 40px;
  border-radius: 20px;
}

#submitItem {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 3.5rem;
  font-size: 0.8rem;
  border-color: #ced4da;
  background-color: #fff;
}

#submitItem:hover {
  color: #28a745;
  font-size: 1rem;
}

::placeholder {
  font-style: italic;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.3rem;
}

/* submit form above */

/* to-do list below */

#todoContainer {
  width: 55%;
  margin-top: 2rem;
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 3rem;
}

.todoItem {
  height: auto;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.todoContent {
  font-weight: 100;
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid #ced4da;
}

#activeItemActions {
  text-align: center;
  align-self: center;
}

.completeItem,
.deleteItem {
  border: 0;
  background-color: #fff;
  font-size: 0.8rem;
}

.completeItem:hover {
  font-size: 1rem;
  background-color: #fff;
  color: #28a745;
  padding-top: 0;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 11px;
}

.deleteItem:hover {
  font-size: 1rem;
  background-color: #fff;
  color: #dc3545;
  padding-top: 0;
  padding-bottom: 3px;
  padding-left: 10px;
}

/* .unCompleteItem {} */
/* .unCompleteItem:hover {} */
