body {
  font-family: Cereal, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* a {
  color: black;
}

a:hover {
  color: black;
} */

/* lang flags */
.flag-icon.flag-icon-squared {
  width: 2em;
  height: 1.5em;
}

.flag-icon-bg {
  background-image: url(./images/flag/bg.svg);
}

.flag-icon-gb {
  background-image: url(./images/flag/gb.svg);
}

/* nav-bar */
.navbar {
  background: rgba(0, 0, 0, 0.7);
}

.navbar li:not(:last-child) {
  font-size: 18px;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #d5d5d5;
}

/* main */

#intro {
  background: url(./images/background/mic.jpg) no-repeat top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

.containerMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle h1 {
  font-weight: 700;
  font-size: 500%;
  letter-spacing: 3px;
}

.mainTitle h3 {
  letter-spacing: 1px;
}

/* end of main */

/* Album */
.padding {
  height: 150px;
}

.aspectRatioBox-album {
  padding-top: calc(1 / 1 * 100%);
  background-size: cover;
  background-position: center;
}

/* end of Album */

/* image spacing */
#fixed {
  background: url(./images/band/band-gig-5.jpg) no-repeat center center fixed;
  display: table;
  height: 35vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

/* end of image spacing */

/* media */
/* @media (min-width: 1200px) {
  .container-fluid {
    max-width: 1140px;
  }
}

.container-fluid {
  max-width: 1080px;
  padding-left: 24px;
  padding-right: 24px;
} */

.aspectRatioBox-media {
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center;
}

.scrollableRow {
  overflow-x: scroll;
  padding-left: 18px;
  padding-right: 18px;
  /* margin-left: -24px;
  margin-right: -24px; */
}

.scrollableRow > [class*=col-] {
  padding-left: 6px;
  padding-right: 6px;
}

/* end of media */

/* Bio */
.aspectRatioBox-band {
  padding-top: calc(1 / 2 * 100%);
  background-size: cover;
  background-position: center;
}

@media (max-width: 999px) {
  .aspectRatioBox-band {
    padding-top: calc(0.8 / 2 * 100%);
    background-size: cover;
    background-position: center;
  }
}

.band-bio {
  display: flex;
  align-items: center;
  justify-content: center;
}
