body {
  font-family: Cereal, sans-serif;
  overflow-x: hidden;
}

html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url(./images/background/guitar-mic.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

a {
  color: black;
}

a:hover {
  color: black;
}

/* lang flags */
.flag-icon.flag-icon-squared {
  width: 2em;
  height: 1.5em;
}

.flag-icon-bg {
  background-image: url(./images/flag/bg.svg);
}

.flag-icon-gb {
  background-image: url(./images/flag/gb.svg);
}

/* nav-bar */
.navbar {
  background: rgba(0, 0, 0, 0.7);
}

.navbar li:not(:last-child) {
  font-size: 18px;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #d5d5d5;
}

/* main */

.landing-text h1 {
  font-weight: 700;
  font-size: 500%;
}
