/* .App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

ul,
li {
  padding: 0;
  list-style: none;
}

p,
ul {
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
}

/* sidebar */

#sidebarWrapper {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 220px;
  overflow-y: hidden;
  background:  #2c3e50;
  opacity: 0.9;
}

.navBrand {
  font-size: 100px;
  text-align: center;
  align-content: center;
}

.navLogo {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  color: #fff;
  letter-spacing: 0.4px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 18px;
  color: #5ddbc2;
}

.navBrand svg {
  color: rgb(255, 120, 2);
}

.navBrand svg:hover {
  color: #16a085;
}

.sidebarNav {
  padding-top: 20px;
}

.sidebarListItem {
  color: #ddd;
  letter-spacing: 0.4px;
  line-height: 40px;
  padding-left: 25px;
}

.sidebarListItem:hover {
  background: #16a085;
}


/* sidebar above */

/* content */

#contentWrapper {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  position: absolute;
  padding-left: 220px;
}

.row {
  justify-content: center;
}

/* content above */

/* footer  */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-top: 1px solid #ddd;
  padding-top: 5px;
}

.footerListItem,
.footerGit {
  color: #333;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.4px;
}

.footerListItem:hover {
  color:#16a085;
  font-weight: bolder;
}

.footerRight {
  text-align: right;
}

.footerLeft {
  text-align: left;
}

/* footer above */

/* error page */

.notFound {
  font-size: 120px;
  color: #ddd;
}

/* error page above */


/* mobile */


@media (max-width: 768px) {
  
  /* sidebar/navbar */

  #sidebarWrapper {
    height: 50px;
    width: 100%;
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navLogo {
    display: none;
  }

  .navBrand {
    font-size: 35px;
  }

  .sidebarNav {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    align-items: center;
  }

  .sidebarListItem {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    line-height: 30px;
  }

  /* sidebar/navbar above */

  /* content */

  #contentWrapper {
    padding-left: 0;
  }

  /* content above */

  /* footer */

  .footer {
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin: 30px;
  }

  .footerLeft {
    display: none;
  }

  .footerRight {
    text-align: left;
  }

  /* footer above  */
}

/* mobile above  */