.App {
  text-align: center;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

/* Navbar */

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 200px;
  overflow-y: hidden;
  background:  #2c3e50;
  opacity: 0.9;
}

.sidebar-nav li {
  line-height: 40px;
}

.sidebarListItem {
  color: #ddd;
}

.sidebarListItem:hover {
  background: #16a085;
}


/* Navbar above */

/* content */

#content-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  position: absolute;
  padding: 15px;
  padding-left: 200px;
}

.row {
  justify-content: center;
}

/* footer  */

.footerListItem {
  color: #ddd;
}