li {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.navbar {
  justify-content: flex-start;
  background-color: rgb(143, 192, 223);
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-item,
.navbar-brand {
  color: #fff;
}

.nav-item:hover,
.navbar-brand:hover {
  color: rgb(49, 172, 210);
}