body {
  background-color: #fff;
  background-image: linear-gradient(90deg, #9fb2e085 0%, #f5f5f5 100%);
}

/* header */

#headerContainer {
  width: 65%;
}

@media (max-width: 650px) {
  #headerContainer {
    width: 65%;
  }
}

@media (max-width: 650px) {
  #headerContainer {
    width: 95%;
  }
}

#headerContent {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#title {
  font-weight: 100;
  margin-top: 2rem;
  font-size: 3rem;
  letter-spacing: -1px;
}

/* header above */

/* submit form below */

.input-group {
  padding-bottom: 0.5rem;
}

.form-control {
  height: 40px;
  border-radius: 20px;
}

#submitItem {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 3.5rem;
  font-size: 0.8rem;
  border-color: #ced4da;
  background-color: #fff;
}

#submitItem:hover {
  color: #28a745;
  font-size: 1rem;
}

::placeholder {
  font-style: italic;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.2rem;
}

input[type='text'] {
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

/* submit form above */

/* to-do list below */

#todoContainer {
  width: 55%;
  margin-top: 2rem;
  border: 1px solid #ced4da;
  border-top: 0;
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 3rem;
}

@media (max-width: 800px) {
  #todoContainer {
    width: 65%;
  }
}

@media (max-width: 650px) {
  #todoContainer {
    width: 95%;
  }
}

.todoItem {
  height: auto;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.todoContent {
  font-weight: 100;
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid #ced4da;
}

.badge-success {
  font-style: normal;
  font-weight: bolder;
  margin-right: 1rem;
  margin-left: 1rem;
}

.loadingSpinner {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  color: #ced4da;
}

.activeItemActions,
.completedItemActions {
  text-align: center;
  align-self: center;
}

.completeItem,
.deleteItem,
.unCompleteItem {
  border: 0;
  background-color: #fff;
  font-size: 0.8rem;
}

.completeItem:hover {
  font-size: 1rem;
  background-color: #fff;
  color: #28a745;
  padding-top: 0;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 11px;
}

.deleteItem:hover {
  font-size: 1rem;
  background-color: #fff;
  color: #dc3545;
  padding-top: 0;
  padding-bottom: 3px;
  padding-left: 10px;
}

.unCompleteItem:hover {
  font-size: 1rem;
  background-color: #fff;
  color: #007bff;
  padding-top: 0;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 11px;
}

.completedItem {
  color: #6c757d;
  text-align: justify;
  text-decoration: line-through;
  font-style: italic;
  font-weight: 100;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 0.5px solid #28a745;
  border-left: 1px solid #28a745;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}



/* to-do list above */

/* item type selector below */

#itemSelectorRow {
  margin-right: -1rem;
  margin-left: -1rem;
}

.btnTypeSelector {
  width: 100%;
  border-radius: 0;
  font-weight: 100;
}

#showActive {
  border-top-left-radius: 25px;
  border-right: 0;
}

.showActiveHover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.showAllHover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

#showCompleted {
  border-top-right-radius: 25px;
  border-left: 0;
}

.showCompletedHover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

/* item type selector above */

/* empty state below */

.emptyState {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: 100;
  padding-bottom: 0.75rem;
  padding-top: 0.25rem;
  letter-spacing: 0.1rem;
  color: #6c757d;
}

/* empty state above */

.hidden {
  display: none;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}
